
<div class="wrapper">
    <header class="header">
        <div class="logo">
            <a href="#">LOGO</a>
        </div>
        <nav>
            <ul class="menu">
                <li>
                    <a [routerLink]="['/home']" class="menu-link menu-link:hover">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/newuser']" class="menu-link menu-link:hove">Nuevo Usuario</a>
                </li>
            </ul>
        </nav>
    </header>
</div>

