.user-image{
    max-width: 12rem;
    margin: 1.25rem auto;
    border-radius: 50%;
    align-items: center;
}

.user-name{
    text-align: right;
}

.user-button{
    width: 5.6rem;
    height: 2.5rem;
    font-size: 0.875rem;
}